.banner {
	padding: 10px;
	//height: 300px;
	background: #9bbc88;
	width: 100%;
	margin: 0px;
}

body {
	margin: 0px;
}

.auth {
	margin: auto;
	width: 350px;
}

.reports {
	float: left;
	width: 250px;
	// border-style: solid;
}

.preview {
	// float: right;
	// border-style: solid;
}

.multipane_body {
	overflow: hidden;
}

.search_results2_wide {
	float: left;
	width: 60%;
}

.row_detail_wide {
	overflow: hidden;
	width: 35%;
}

.search_results2_narrow {
	float: left;
	width: 100%;
}

.row_detail_narrow {
	overflow: hidden;
	width: 100%;
}

.diag {
	clear: both;
}
